@model ResponseModel<Payment>


    <li>
        <a>
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span id="cart-status">
                @Model.ResponseData.Count
            </span>
        </a>
    </li>

