@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (Model.Response.StatusCode == 404)
    {
        <p>Currently Not Active Funeral</p>
    }
    else
    {
        @foreach (var item in Model.ActiveFunerals.ResponseData)
        {
            <P>Funeral id @item.StatusId for @item.DeceasedFullName is active. The venue for funeral is @item.AddressForFuneral </P>
        }

    }
